---
import { actions } from "astro:actions"
import AppLayout from "../../../layouts/AppLayout.astro"
import { transactionsToGraphData, calcMonthRange } from "../utils/trendGraph.utils"
import Graph from "../components/Graph.astro"

const [transactions, budgets] = await Promise.all([
    Astro.callAction(actions.transaction.all, {}),
    Astro.callAction(actions.budget.index, {}),
])

const graphData = transactionsToGraphData(transactions.data?.list ?? [])
const monthRange = calcMonthRange(graphData)
---

<AppLayout title="Trends">

    <Graph
        type="spending"
        title={'Spending over time'}
        monthRange={monthRange}
        graphData={graphData}
    />

    <Graph
        type="income"
        title={'Income over time'}
        monthRange={monthRange}
        graphData={graphData}
    />

    <Graph 
        type="net"
        title="Net over time"
        monthRange={monthRange}
        graphData={graphData}
    />

    <div 
        id="budget-select"
        class="grid gap-4 mt-12"
    >

        <div class="grid grid-cols-1 gap-2 md:flex justify-between">
            <h2 class="text-lg font-semibold font-theme min-w-fit text-nowrap">
                Budgets trends over time
            </h2>
            <select class="w-full md:w-auto p-1">
                {budgets.data?.map( budget => (
                    <option value={budget.id}>{budget.name}</option>
                ))}
            </select>
        </div>

        { budgets.data?.map( (budget, i) => {

            const budgetTransactions = transactions.data?.list.filter( t => t.budget === budget.name ) ?? []
            const budgetSpendingTotals = transactionsToGraphData(budgetTransactions)
            const budgetMonthRange = calcMonthRange(budgetSpendingTotals)

            return (
                <div 
                    data-budget-id={budget.id} 
                    class={ i !== 0 ? 'hidden' : '' }
                >
                    <Graph 
                        title={budget.name}
                        monthRange={budgetMonthRange}
                        graphData={budgetSpendingTotals}
                    />
                </div>
            )
        })}
        
    </div>
    
</AppLayout>

<script>
import { el, els } from "../../../lib/el";

el<HTMLSelectElement>('#budget-select', document, select => {
    
    const graphs = els<HTMLDivElement>('[data-budget-id]')

    select.addEventListener('change', e => {

        const target = e.target

        if( !(target instanceof HTMLSelectElement )  ) {
            throw new Error('Invalid BudgetSelect Element')
        }

        graphs.forEach( graph => {
            const isSelected  = target.value === graph.dataset.budgetId
            graph.classList.toggle('hidden', !isSelected)
        })
    })
})

</script>
