---
import { actions } from "astro:actions"
import H1 from "../../../components/H1.astro"
import AppLayout from "../../../layouts/AppLayout.astro"
import GraphTitle from "../components/GraphTitle.astro"
import { calcSpendingTotals, calcUpperRange, calcMonthRange } from "../utils/trendGraph.utils"
import BudgetGraph from "../components/BudgetGraph.astro"
import type { Transaction } from "../../transactions/schema/transaction.schema"
import SpendingGraph from "../components/SpendingGraph.astro"
import IncomeGraph from "../components/IncomeGraph.astro"
import NetGraph from "../components/NetGraph.astro"

const [transactions, budgets] = await Promise.all([
    Astro.callAction(actions.transaction.all, {}),
    Astro.callAction(actions.budget.index, {}),
])

const spendingTotals = calcSpendingTotals(transactions.data?.list ?? [])
const spendingUpperRange = calcUpperRange(spendingTotals, 'spending')
const incomeUpperRange = calcUpperRange(spendingTotals, 'income')
const netUpperRange = calcUpperRange(spendingTotals, 'net')
const monthRange = calcMonthRange(spendingTotals)
---

<AppLayout>

    <H1> Trends </H1>

    <SpendingGraph
        monthRange={monthRange}
        spendingTotals={spendingTotals}
        upperRange={spendingUpperRange}
     />

    <IncomeGraph 
        monthRange={monthRange}
        spendingTotals={spendingTotals}
        upperRange={incomeUpperRange}
    />

    <NetGraph 
        title="Net over time"
        monthRange={monthRange}
        spendingTotals={spendingTotals}
        upperRange={netUpperRange}
    />

    <div 
        id="budget-select"
        class="grid gap-4 mt-12"
    >

        <div class="flex justify-between">
            <GraphTitle title="Budgets Trends over time" />
            <select class="max-w-fit">
                {budgets.data?.map( budget => (
                    <option value={budget.id}>{budget.name}</option>
                ))}
            </select>
        </div>

        { budgets.data?.map( (budget, i) => (
            <div 
                data-budget-id={budget.id} 
                class={ i !== 0 ? 'hidden' : '' }
            >
                <BudgetGraph 
                    budgetName={budget.name}
                    transactions={transactions.data?.list.filter( t => t.budget === budget.name ) ?? []}
                />
            </div>
        ))}
        
    </div>
    
</AppLayout>

<script>
import { el, els } from "../../../lib/el";

el<HTMLSelectElement>('#budget-select', document, select => {
    
    const graphs = els<HTMLDivElement>('[data-budget-id]')

    select.addEventListener('change', e => {

        const target = e.target

        if( !(target instanceof HTMLSelectElement )  ) {
            throw new Error('Invalid BudgetSelect Element')
        }

        graphs.forEach( graph => {
            const isSelected  = target.value === graph.dataset.budgetId
            graph.classList.toggle('hidden', !isSelected)
        })
    })
})

</script>
