---
import { actions } from "astro:actions"
import H1 from "../../../components/H1.astro"
import AppLayout from "../../../layouts/AppLayout.astro"
import type { Transaction } from "../../../types/types"
import { convertDate } from "../../../lib/convertDate"
import GraphBar from "../components/GraphBar.astro"
import GraphTitle from "../components/GraphTitle.astro"
import GraphBarList from "../components/GraphBarList.astro"
import GraphWrapper from "../components/GraphWrapper.astro"

const [transactions, budgets] = await Promise.all([
    Astro.callAction(actions.transaction.index, { filter: "all" }),
    Astro.callAction(actions.budget.index, {}),
])

function calcMonthlyTotals(transactions: Transaction[]) {

    const totals: Record<
        string,
        {
            spending: number
            income: number
            net: number
            budgets: Record<string, number>
        }
    > = {}

    transactions.forEach((transaction: Transaction) => {
        
        if (!transaction.amount) return

        const month = convertDate(transaction.date).to("YYYY-MM")
        const amount = Math.round(Number(transaction.amount))
        const absAmount = Math.abs(amount)

        // Add month if doesn't exist
        if (!(month in totals)) {
            totals[month] = {
                spending: 0,
                income: 0,
                net: 0,
                budgets : {}
            }
        }

        // Add income, spending, and net
        if (amount > 0) {
            totals[month].income += absAmount
        }
        if (amount < 0) {
            totals[month].spending += absAmount
        }
        totals[month].net += amount

        // Add Budgets
        const budget = transaction.budget as string
        totals[month].budgets[budget] = (totals[month].budgets[budget] ?? 0) + amount
    })

    const totalsArray = Object.entries(totals)
        .map(([month, { spending, income, net }]) => ({ month, spending, income, net }))
        .sort((a, b) => (a.month < b.month ? 1 : -1))

    return { totalsArray, totals }
}

function calcUpperRange(totals: number[]) {
    const highestSpending = String(Math.max(...totals.map((t) => Math.abs(t))))
    const leadingDigits = Number(highestSpending.slice(0, 2)) + 1
    const zeros = "0".repeat(highestSpending.length - 2)
    return Number(leadingDigits + zeros)
}

function calcMonthRange(start: string, end: string) {
    const range = []
    const [startYear, startMonth] = start.split("-").map(Number)
    const [endYear, endMonth] = end.split("-").map(Number)

    let year = startYear
    let month = startMonth

    while (year < endYear || (year === endYear && month <= endMonth)) {
        const formatted = `${year}-${String(month).padStart(2, "0")}`
        range.push(formatted)

        month++
        if (month > 12) {
            month = 1
            year++
        }
    }

    return range
}

const { totals, totalsArray } = calcMonthlyTotals(transactions.data.list)
const spendingUpperRange = calcUpperRange(totalsArray.map((t) => t.spending))
const incomeUpperRange = calcUpperRange(totalsArray.map((t) => t.income))
const netUpperRange = calcUpperRange(totalsArray.map((t) => t.net))
const startMonth = totalsArray.map((t) => t.month).sort().at(0) as string
const endMonth = totalsArray.map((t) => t.month).sort().at(-1) as string
const monthRange = calcMonthRange(startMonth, endMonth)
---

<AppLayout>

    <H1> Trends </H1>

    <GraphWrapper>
        <GraphTitle title="Spending over time" />
        <GraphBarList>
            { monthRange.map((month) => (
                <GraphBar 
                    title={convertDate(month).to("MMM-YYYY")}
                    amount={`-${ totals[month]?.spending ?? 0 }`}
                    type="spending" 
                    heightRatio={(totals[month]?.spending ?? 0) / spendingUpperRange * 225} 
                />
            ))}
        </GraphBarList>
    </GraphWrapper>

    <GraphWrapper>
        <GraphTitle title="Income over time" />
        <GraphBarList>
            { monthRange.map((month) => (
                <GraphBar
                    title={convertDate(month).to("MMM-YYYY")}
                    amount={`+${ totals[month]?.income ?? 0 }`}
                    type="income"
                    heightRatio={(totals[month]?.income ?? 0) / incomeUpperRange * 225}
                />
            ))}
        </GraphBarList>
    </GraphWrapper>

    <GraphWrapper>
        <GraphTitle title="Net over time" />

        <GraphBarList class="h-[450px]">
            { monthRange.map((month) => (
                <div class="relative h-full flex items-center shrink-0">
                    <div class:list={[
                        "flex flex-col items-center w-[70px] ",
                        totals[month]?.net > 0 && "-translate-y-1/2",
                        totals[month]?.net < 0 && "translate-y-1/2",
                    ]}>
                        { totals[month]?.net > 0 && (
                            <span>+{ totals[month]?.net }</span>
                        )}
                        <div
                            class:list={[
                                "bg-gradient-to-t w-[40px] rounded-t",
                                totals[month]?.net > 0 && "from-green/40 to-green/20 border-b-2  border-green",
                                totals[month]?.net < 0 && "from-red/30 to-red/20 border-t-2  border-red",
                            ]}
                            style={`
                                height : ${ Math.abs(totals[month]?.net / netUpperRange * 150) }px;
                            `}
                        />
                        { totals[month]?.net < 0 && (
                            <span>{totals[month]?.net}</span>
                        )}
                    </div>
                    <span class="absolute bottom-0 text-sm font-semibold">{convertDate(month).to("MMM-YYYY")}</span>
                </div>
            ))}
        </GraphBarList>
    </div>

    <div class="grid gap-4 mt-12 ">

        <GraphTitle title="Budgets Trends over time" />

        { budgets.data?.map( budget => (
            <div class="bg-white p-4 rounded-xl">
                <h3 class="text-lg font-semibold mb-4">{budget.name}</h2>
                <div class="flex gap-2 items-stretch h-[300px] overflow-x-auto ">
                    { monthRange.map( month => {
                        const amount = totals[month]?.budgets[budget.name]
                        const heightRatio = Math.abs(amount / netUpperRange * 150)
                        return(
                            <div class="relative h-full flex items-center shrink-0">
                                <div class:list={[
                                    "flex flex-col items-center w-[70px] ",
                                    amount > 0 && "-translate-y-1/2",
                                    amount < 0 && "translate-y-1/2",
                                ]}>
                                    { amount > 0 && <span>+{ amount }</span> }
                                    <div
                                        class:list={[
                                            "bg-gradient-to-t w-[40px] rounded-t",
                                            amount > 0 && "from-green/40 to-green/20 border-b-2  border-green",
                                            amount < 0 && "from-red/30 to-red/20 border-t-2  border-red",
                                        ]}
                                        style={`height : ${heightRatio}px`}
                                    />
                                    { amount < 0 && <span>{amount}</span> }
                                </div>
                                <span class="absolute bottom-0 text-sm font-semibold">
                                    {convertDate(month).to("MMM-YYYY")}
                                </span>
                            </div>
                        )
                    } )}
                </div>
            </div>
        ))}
    </div>
</AppLayout>
