---
import Layout from "../../layouts/Layout.astro";
import Budget from "../../components/_budgets/Budget.astro"
import { getAllBudgetTotalSpent, getBudgetsWithTotalSpent } from "../../utils/budget.utils";
import { fetchData } from "../../lib/fetch";
import type { GetBudgets, MonthlyTransactions } from "../../types/types";
import { convertDate } from "../../lib/convertDate";

const auth = await Astro.session?.get('auth')

if( !auth ) {
    return Astro.redirect('/')
}

const { route } = Astro.params;

const month = route ? route : convertDate().to('YYYY-MM')

const [transactions, budgets] = await Promise.all([
	fetchData<MonthlyTransactions>(`/api/transactions/month/${month}`),
	fetchData<GetBudgets>('/api/budgets'),
])

const budgetsWithTotals = getBudgetsWithTotalSpent(
	budgets.response?.data, transactions.response?.data
)

const allBudgetTotals = getAllBudgetTotalSpent(budgetsWithTotals)
---
<Layout>

	<div class="flex items-center justify-between mb-4">

		<h1 class="text-lg md:text-xl font-semibold font-theme min-w-max">
			{ convertDate(month).to('MMMM-YYYY') }
		</h1>

		<select 
			id="month-selector"
			name="month-selector" 
			class="w-fit"
			data-month={month}
		>
			<option>Select month to view</option>
			{ transactions.response?.months.map( month => (
				<option value={month.month}>
					{month.title}
				</option>
			))}
		</select>
		
	</div>

	<div>
		<Budget
			budget={{
				totalSpent : allBudgetTotals.totalSpent,
				percentSpent : allBudgetTotals.percentSpent,
				amount : allBudgetTotals.totalAmount,
				id : 1,
				name : `${ convertDate(month).to('MMMM-YYYY') } Total `,
				userId : 1
			}}
			index={0}
			isTotal
		/>
		<div class="my-6 border-b border-slate-300"/>
	</div>

	<budget-list class="grid gap-6 text-lg transition-all translate-x-24 opacity-0 w-full">
		{ budgetsWithTotals.map( (budget, index ) => (
			<Budget {budget} {index} />
		))}
	</budget-list>
</Layout>

<script>
import { el } from "../../lib/el"

document.addEventListener('astro:page-load', () => {

	// Animate in
	el('budget-list', document, el => el.classList.remove('translate-x-24', 'opacity-0'))

	el<HTMLSelectElement>('#month-selector', document, select => {
		select.addEventListener('change', e => {

			if( !(e.target instanceof HTMLSelectElement) ) {
				return
			}

			if( e.target.dataset.month === e.target.value ) {
				return
			}

			// Animate out
			el('budget-list', document, el => el.classList.add('-translate-x-24', 'opacity-0'))

			window.location.href = `/budgets/${e.target.value}`
		})
	})

})
</script>