---
import { actions } from "astro:actions"
import TransactionListLayout from "../../../layouts/TransactionListLayout.astro"
import TransactionList from "../components/TransactionList"
import type { Transaction as TransactionSchema } from "../schema/transaction.schema"

const budget = Astro.props.routeParam
const budgets = await Astro.callAction( actions.budget.index, {} )
const budgetName = budgets.data?.find( b => b.id === Number(budget) )?.name

let transactions: TransactionSchema[] = []

if( budget ) {
	const { data, error } = await Astro.callAction( actions.transaction.index, {
		filter : 'budget', 
		filterValue : budget, 
	})

	if( !error ) {
		transactions = data as TransactionSchema[]
	}
}
---

<TransactionListLayout
	title={ budgetName || 'Select a Budget' }
	active="budget"
>

	<select 
		id="budget-selector"
		name="budget-selector" 
		class="w-full md:max-w-fit mb-4"
		data-budget={budget}
	>
		<option>Select budget to view</option>
		<option value="null">Uncategorized</option>
		{ budgets.data?.map( budget => (
			<option value={budget.id}>
				{budget.name}
			</option>
		))}
	</select>

	<TransactionList
		transactions={transactions}
		budgets={budgets.data ?? []}
		client:idle
	/>

</TransactionListLayout>


<script>
import { el } from "../../../lib/el"

document.addEventListener('DOMContentLoaded', () => {

	/**
	 * Select onChange handler
	 * Navigate to new transaction budget page
	 */
	el<HTMLSelectElement>('#budget-selector', document, select => {
		select.addEventListener('change', e => {

			if( !(e.target instanceof HTMLSelectElement) ) {
				return
			}

			if( e.target.dataset.budget === e.target.value ) {
				return
			}

			window.location.href = `/transactions/budget/${e.target.value}`
		})
	})

})
</script>

