---
import { actions } from "astro:actions";
import { convertDate } from "../../../lib/convertDate";
import TransactionListLayout from "../../../layouts/TransactionListLayout.astro";
import TransactionList from "../components/TransactionList";

const { routeParam } = Astro.props
const month = routeParam ?? convertDate().to('YYYY-MM')

const [transactions, budgets, accounts] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'month', filterValue : month} ),
	Astro.callAction( actions.budget.index, {} ),
	Astro.callAction( actions.accounts.index, {} ),
])

---

<TransactionListLayout
	title={convertDate(month).to('MMMM-YYYY')}
	active="month"
>
	<select 
		id="month-selector"
		name="month-selector" 
		class="w-full md:w-fit ml-auto mb-4"
		data-month={month}
	>
		<option>Select month to view</option>
		{ !transactions.error && transactions.data.months.map( (month: { month: string, title: string }) => (
			<option value={month.month}>
				{month.title}
			</option>
		))}
	</select>

	<TransactionList
		transactions={transactions.data.list}
		budgets={budgets.data || []}
		accounts={accounts.data || []}
		client:idle
	/>

</TransactionListLayout>

<script>
import { el } from "../../../lib/el"

el<HTMLSelectElement>('#month-selector', document, select => {
	select.addEventListener('change', e => {

		if( !(e.target instanceof HTMLSelectElement) ) {
			return
		}

		if( e.target.dataset.month === e.target.value ) {
			return
		}

		window.location.href = `/transactions/month/${e.target.value}`
	})
})

</script>