---
import { ArrowLeftRightIcon, BotIcon, ChartColumnIncreasingIcon, CirclePlusIcon, MoveRightIcon } from "@lucide/astro"
import { actions } from "astro:actions";
import AppLayout from "../../layouts/AppLayout.astro";
import { convertDate } from "../../lib/convertDate";
import MonthlySpendingSummary from "../trends/components/MonthlySpendingSummary.astro";
import { getAuth } from "../auth/auth.utils";
import TransactionLite from "../transactions/components/TransactionLite";
import type { Transaction } from "../transactions/schema/transaction.schema";
import { calcSpendingTotals, calcUpperRange, calcMonthRange } from "../trends/utils/trendGraph.utils";
import IncomeGraph from "../trends/components/IncomeGraph.astro";
import NetGraph from "../trends/components/NetGraph.astro";
import SpendingGraph from "../trends/components/SpendingGraph.astro";

const auth = await getAuth(Astro)

const [recentTransactions, transactions] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'recent', perPage : 5} ),
	Astro.callAction( actions.transaction.index, {filter : 'monthRange', filterValue : {
		start : convertDate().prevMonth(4).to('YYYY-MM'),
		end : convertDate().to('YYYY-MM')
	}} ),
])

const spendingTotals = calcSpendingTotals(transactions.data)
const spendingUpperRange = calcUpperRange(spendingTotals, 'spending')
const incomeUpperRange = calcUpperRange(spendingTotals, 'income')
const netUpperRange = calcUpperRange(spendingTotals, 'net')
const monthRange = calcMonthRange(spendingTotals)

---
<AppLayout>

	<div class="text-2xl mb-16 mt-12 flex items-center gap-2 font-theme">
		<BotIcon width="36" height="36" />
		Welcome Back {auth?.userName}!
	</div>

	<div class="grid gap-8">

		<div class="grid gap-6 border-b border-slate-300 pb-4">
			<h2 class="flex items-center gap-2 font-semibold">
				<ChartColumnIncreasingIcon />
				Your Spending this month: 
				<span class="italic text-sm">({convertDate().to('MMM-YYYY')})</span>
			</h2>
			<MonthlySpendingSummary />
			<a href="/budgets" class="flex items-center gap-2 justify-self-start">
				View your budgets 
				<MoveRightIcon />
			</a>
		</div>

		<div class="grid gap-x-4 gap-y-0 md:grid-cols-3">
			<SpendingGraph
				monthRange={monthRange}
				spendingTotals={spendingTotals}
				upperRange={spendingUpperRange}
			/>
	
			<IncomeGraph 
				monthRange={monthRange}
				spendingTotals={spendingTotals}
				upperRange={incomeUpperRange}
			/>
	
			<NetGraph 
				title="Net over time"
				monthRange={monthRange}
				spendingTotals={spendingTotals}
				upperRange={netUpperRange}
			/>

			<div class="col-span-3">
				<a href="/trends" class="flex items-center gap-2 justify-self-start">
					View your monthly trends 
					<MoveRightIcon />
				</a>
			</div>
		</div>

		<div class="bg-blue/5 rounded-sm p-4 grid gap-4">
			<h2 class="flex items-center gap-2 font-semibold tex-2xl">
				<ArrowLeftRightIcon />
				Recent Transactions
				<span class="flex items-center gap-3 ml-auto">
					<a 
						class="flex items-center gap-0.5 text-sm font-semibold hover:text-red text-blue min-w-fit border hover:border-red/50 border-blue/50 rounded-xl px-3 py-1"
						href="/transactions/add"
					>
						<CirclePlusIcon size={20} />
						Add
					</a>
				</span>
			</h2>
			<div class="grid gap-2">
				{ recentTransactions.data.list && recentTransactions.data.list.map( 
					(transaction : Transaction ) => <TransactionLite {transaction} />
				)}
			</div>
			<a href="/transactions/recent" class="flex items-center gap-2 justify-self-start">
				View your transactions
				<MoveRightIcon />
			</a>
		</div>


		<div class="bg-blue/10 rounded-sm p-4 min-h-32">
			Upcoming Bills
		</div>
	</div>
</Layout>