---
import { actions } from "astro:actions";
import CreateTransactionButton from "../../../components/_transactions/CreateTransactionButton.astro";
import FilterTransactions from "../../../components/_transactions/FilterTransactions.astro";
import Transaction from "../../../components/_transactions/Transaction.astro";
import H1 from "../../../components/H1.astro";
import Layout from "../../../layouts/Layout.astro";
import { convertDate } from "../../../lib/convertDate";
import { fetchData } from "../../../lib/fetch";
import type { GetBudgets, Transaction as TransactionType } from "../../../types/types";

const auth = await Astro.session?.get('auth')

if( !auth ) {
	return Astro.redirect('/')
}

let { month = convertDate().to('YYYY-MM') } = Astro.params

const [transactions, budgets] = await Promise.all([
	Astro.callAction( actions.transaction.index, {filter : 'month', filterValue : month} ),
	Astro.callAction( actions.budget.index, {} )
])

---

<Layout>
	
	<FilterTransactions current="month" />

	<div class="flex items-center mb-4 gap-2">

		<H1>
			{ convertDate(month).to('MMMM-YYYY') }
		</H1>

		<select 
			id="month-selector"
			name="month-selector" 
			class="w-fit ml-auto"
			data-month={month}
		>
			<option>Select month to view</option>
			{ !transactions.error && transactions.data.months.map( (month: { month: string, title: string }) => (
				<option value={month.month}>
					{month.title}
				</option>
			))}
		</select>
		
		<CreateTransactionButton />
	</div>

	<transaction-list class="grid">
		{ !transactions.error && transactions.data.list.map( (transaction: TransactionType) => (
			<Transaction {transaction} budgets={budgets.data} />
		))}
	</transaction-list>

</Layout>


<script>
import { el } from "../../../lib/el"


document.addEventListener('DOMContentLoaded', () => {

	el<HTMLSelectElement>('#month-selector', document, select => {
		select.addEventListener('change', e => {

			if( !(e.target instanceof HTMLSelectElement) ) {
				return
			}

			if( e.target.dataset.month === e.target.value ) {
				return
			}

			window.location.href = `/transactions/month/${e.target.value}`
		})
	})

})
</script>