---
import { actions } from "astro:actions";
import AppLayout from "../../../layouts/AppLayout.astro";
import type { Transaction as TransactionSchema } from "../../transactions/schema/transaction.schema";
import TransactionList from "../../transactions/components/TransactionList";
import Transaction from "../../transactions/components/Transaction";
import type { Budget } from "../schema/budget.schema";
import { MoveLeftIcon } from "@lucide/astro";
import BudgetGraph from "../../trends/components/BudgetGraph.astro";

const { routeParam } = Astro.props

const budgets = await Astro.callAction( actions.budget.index, {})
const budget = budgets.data?.filter( budget => budget.id === Number(routeParam))[0]
const budgetName = budget?.name ?? '' as string

let transactions : TransactionSchema[] = []

if( budget ) {
	const { data, error } = await Astro.callAction( actions.transaction.index, {
		filter : 'budget', 
		filterValue : String(budget.id), 
	})

	if( !error ) {
		transactions = data as TransactionSchema[]
	}
}
---

<AppLayout>
    
	<div class="flex justify-between items-start">

        <a href="/budgets" class="flex items-center gap-1">
            <MoveLeftIcon size={16} />
            Back to Budgets
        </a>

        <select class="max-w-fit">
            <option>Select a Budget</option>
            { budgets.data?.map( budget => (
                <option value={budget.id}>{budget.name}</option>
            ))}
        </select>
		
	</div>

    <BudgetGraph 
        budgetName={budgetName}
        transactions={transactions}
    />

    <TransactionList
        transactions={transactions} 
        budgets={budgets.data ?? []} 
        actionButton="edit"
    />

</AppLayout>

<script>
import { el } from "../../../lib/el"

el<HTMLSelectElement>('select', document, select => {
	select.addEventListener('change', e => {

		if( !(e.target instanceof HTMLSelectElement) ) {
			return
		}

		if( e.target.dataset.month === e.target.value ) {
			return
		}

		window.location.href = `/budgets/budget/${e.target.value}`
	})
})

</script>