---
import { actions } from "astro:actions";
import AppLayout from "../../../layouts/AppLayout.astro";
import type { Transaction as TransactionSchema } from "../../transactions/schema/transaction.schema";
import TransactionList from "../../transactions/components/TransactionList";
import { MoveLeftIcon } from "@lucide/astro";
import BudgetGraph from "../../trends/components/BudgetGraph.astro";
import H1 from "../../../components/H1.astro";
import { stripEmojis } from "../../app/app.utils";

const { routeParam } = Astro.props

const [budgets, accounts] = await Promise.all([
	Astro.callAction( actions.budget.index, {} ),
	Astro.callAction( actions.accounts.index, {} )
])

const budget = budgets.data?.filter( budget => budget.id === Number(routeParam))[0]
const budgetName = budget?.name ?? '' as string

let transactions : TransactionSchema[] = []

if( budget ) {
	const { data, error } = await Astro.callAction( actions.transaction.byBudget, { budgetId : Number(budget.id) })

	if( !error ) {
		transactions = data.list as TransactionSchema[]
	}
}

const hasTransactions = transactions.length > 0
---

<AppLayout title={stripEmojis(budgetName)}>

    <select slot="page-actions" class="w-full max-w-[8ch]">
        <option>Select</option>
        { budgets.data?.map( budget => (
            <option value={budget.id}>{budget.name}</option>
        ))}
    </select>

    <a href="/budgets" class="inline-flex gap-1 items-center my-2">
        <MoveLeftIcon size={16} />
        Back to Budgets
    </a>

    { hasTransactions && (
        <BudgetGraph 
            budgetName=""
            transactions={transactions}
        />
        <TransactionList
            transactions={transactions} 
            budgets={budgets.data ?? []} 
            accounts={accounts.data ?? []}
            actionButton="edit"
            client:load
        />
    )}

    { !hasTransactions &&  (
        <div>
            <H1>{budgetName}</H1>
            <p class="text-md">
                No budget data to show. <a href="/transactions/add" class="underline">Add</a> or <a href="/transactions/import" class="underline">import</a> some transactions.
            </p>
        </div>
    )}


</AppLayout>

<script>
import { el } from "../../../lib/el"

el<HTMLSelectElement>('select', document, select => {
	select.addEventListener('change', e => {

		if( !(e.target instanceof HTMLSelectElement) ) {
			return
		}

		if( e.target.dataset.month === e.target.value ) {
			return
		}

		window.location.href = `/budgets/budget/${e.target.value}`
	})
})

</script>