---
import type { Budget } from '../../types/types'

interface BudgetWithTotals extends Budget {
    totalSpent : number
    percentSpent : number
}

interface Props {
    budget : BudgetWithTotals
    isTotal? : boolean
}

const { budget, isTotal = false } = Astro.props
---

<div 
    class:list={[
        "relative rounded-sm flex items-center justify-between px-4 py-2 font-semibold",
        "nth-[5n+1]:bg-blue/10 [&:nth-child(5n+1)_span.progress-bar]:bg-blue/20",
        "nth-[5n+2]:bg-green/10 [&:nth-child(5n+2)_span.progress-bar]:bg-green/20",
        "nth-[5n+3]:bg-purple/10 [&:nth-child(5n+3)_span.progress-bar]:bg-purple/20",
        "nth-[5n+4]:bg-red/10 [&:nth-child(5n+4)_span.progress-bar]:bg-red/20",
        "nth-[5n]:bg-orange/10 [&:nth-child(5n)_span.progress-bar]:bg-orange/20",
        isTotal && '!bg-white/50'
    ]}
>
    <a href={`/transactions/budget/${budget.id}`} class="hover:underline">
        {budget.name} 
    </a>

    <span class="text-2xl">
        {budget.totalSpent} / {budget.amount}
    </span>

    <span 
        class:list={[
            "absolute left-0 top-0 bottom-0 -z-10 rounded-sm",
            'progress-bar',
            isTotal && '!bg-slate-300'
        ]}
        style={`width : ${budget.percentSpent}%`}
    />
</div>