---
import type { Budget } from '../../types/types'

interface BudgetWithTotals extends Budget {
    totalSpent : number
    percentSpent : number
}

interface Props {
    budget : BudgetWithTotals
    index : number
}

const { budget, index } = Astro.props
---

<div 
    class:list={[
        "relative rounded-2xl flex items-center justify-between px-4 py-2 font-semibold",
        index % 5 === 0 && 'bg-blue/10',
        index % 5 === 1 && 'bg-green/10',
        index % 5 === 2 && 'bg-purple/10',
        index % 5 === 3 && 'bg-red/10',
        index % 5 === 4 && 'bg-orange/10',
    ]}
>
    <a href={`/transactions/budget/${budget.id}`} class="hover:underline">
        {budget.name} 
    </a>

    <span class="text-2xl">
        {budget.totalSpent} / {budget.amount}
    </span>

    <span 
        class:list={[
            "absolute left-0 top-0 bottom-0 -z-10 rounded-2xl",
            index % 5 === 0 && 'bg-blue/30',
            index % 5 === 1 && 'bg-green/30',
            index % 5 === 2 && 'bg-purple/30',
            index % 5 === 3 && 'bg-red/30',
            index % 5 === 4 && 'bg-orange/30',
        ]}
        style={`width : ${budget.percentSpent}%`}
    >
    </span>
</div>