---
import "../styles/main.css"
import '@fontsource/lato'
import '@fontsource-variable/sora'
import Nav from "../components/Nav.astro"
import { APP_NAME, HOME_ROUTE } from "../../app.config"
import ErrorToast from "../components/ErrorToast.astro"
import { BotIcon, Settings2Icon, UserIcon } from "@lucide/astro"
import H1 from "../components/H1.astro"

interface Props {
    title : string
}

const { 
    title,
} = Astro.props

---
<html lang="en" class="dark">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{APP_NAME} - {import.meta.env.MODE}</title>
        <link rel="manifest" href="/manifest.webmanifest" />
        <meta name="theme-color" content="#0f172a" />
	</head>
	<body class="min-h-screen bg-background-main text-base-text font-base">
        <div class:list={"max-w-250 w-full mx-auto p-4"}>
			<Nav />
            <div class="flex items-center gap-2 font-theme mb-6">
				<a href={HOME_ROUTE} class="md:hidden">
					<BotIcon class="w-7 h-7" />
				</a>
				<H1>
					{title}
				</H1>
				<div class="flex items-center gap-2 ml-auto">
					<slot name="page-actions" />
					<a href="/settings" class="p-1 md:hidden">
						<Settings2Icon class="w-7 h-7" />
					</a>
				</div>
			</div>
            <main class="transition-opacity mb-24">
                <slot />
            </main>
        </div>
        <ErrorToast />
	</body>
</html>

<script>
  if ('serviceWorker' in navigator) {
    window.addEventListener('load', () => {
      navigator.serviceWorker.register('/sw.js');
    });
  }
</script>
